<div class="center">
<h1>Tasks#index</h1>
<% @tasks.each do |task| %>
  <h2>Name: <%= task.name %></h2>
  <p>Description: <%= task.description %></p>
  <p>Created: <%= task.created_at.strftime("%d.%m.%Y") %></p>
  <p>Last Updated: <%= task.updated_at.strftime("%d.%m.%Y") %></p>

  <p><%= link_to 'Edit Task', edit_task_path(task) %></p>
  <p><%= link_to 'Delete Task', task_path(task), method: :delete,
      data: { confirm: "Are you sure?" } %></p>
<% end %>

<b style= "font-size: 20px"><%= link_to 'Add new Task', new_task_path %></b>

</div>
